.ag-header-cell.text-center {
    .ag-header-cell-label {
      justify-content: center;
    }
  }
  .error{
    color : red;
  }

  .editIcon{
    color: blue;
    margin-right: 15px;
  }

  .deleteIcon{
    color : red;
  }